body {
    text-align: center;
    background-color: #355c7d;
    
    color: rgb(235, 235, 235);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.title {
    border: solid #6c5b7b 15px;
    background-color: #c06c84;
    padding: 20px;
    font-size: 20px
}

.input {
    background-color: #f67280; 
    border: solid #6c5b7b 15px;
    padding: 20px;
}

.output {
    background-color: #f8b195;
    border: solid #6c5b7b 15px;
    padding: 20px;
}

button {
    background-color: #355c7d;
    color: rgb(235, 235, 235);
    padding: 8px 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: solid #26425a;
    font-variant: small-caps;
}